personal documentations/

# Environment files (keep .env.example)
.env
.env.*
!.env.example

# Virtual environment
.venv/

dataset/
haven-backend/models/
PROJECT_CONTEXT.md
venv/

# Python caching & DBs
__pycache__/
*.pyc
*.db
.pytest_cache/

# Haven-main zip
Haven-main.zip
Haven-main/
